<%# blocks for govuk_admin_template %>
<% content_for :page_title do %>GOV.UK admin prototype<% end %>

<% content_for :main_column do %>

<%= render 'partials/tabs' %>

<h1>Tag publication</h1>

<div class="tabbable">
  <div class="tab-content">
    <form class="edition-form js-edition-form" id="new_edition" enctype="multipart/form-data" action="/government/admin/detailed-guides" accept-charset="UTF-8" method="post">

      <%= render partial: 'partials/organisations', locals: { organisations: organisations } %>

      <%= render partial: 'partials/ministers', locals: { ministers: ministers } %>

      <%= render 'partials/policies' %>

      <%= render 'partials/topic_subtopic', locals: { topics: topics } %>

      <div class="publishing-controls well">
        <div class="form-actions">
          <a href="/publication/review" class="btn btn-primary btn-lg">Save</a>
          <a href="#" class="btn btn-primary btn-lg">Save and continue</a>

          <span class="or_cancel"> or <a href="#">cancel</a></span>
        </div>
      </div>


    </form>
  </div>
</div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'partials/sidebar' %>
<% end %>

<%= render :template => 'layouts/two_column' %>
