<fieldset>
  <legend>
    <h2>Topics</h2>
  </legend>

  <p class="lead add-top-margin add-bottom-margin">
    Tag this item if you want it to appear on a <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/creating-and-updating-pages#specialist-tagging-topics">topic page</a>. Items tagged to a <a href="#">curated topic</a> will not appear automatically - tag, publish, then <a href="https://www.gov.uk/guidance/contact-the-government-digital-service/how-to-contact-gds#how-to-contact-gds-about-govuk">contact GDS</a> to have this item added to a curated topic.
  </p>

  <!--<div class="suggested-topics">
    <h3>Suggested topics</h3>

    <p>Your organisation usually tags to:</p>

    <ul class="suggested-topics-list">
      <li>
        <label class="checkbox">
          <input type="checkbox" value="#_topic_schools-colleges-childrens-services_curriculum-qualifications-item" id="_topic_schools-colleges-childrens-services_curriculum-qualifications-suggested" name="suggested_topics"> Curriculum and qualifications
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" value="#_topic_schools-colleges-childrens-services_early-years-item" id="_topic_schools-colleges-childrens-services_early-years-suggested" name="suggested_topics"> Early years
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" value="#_topic_schools-colleges-childrens-services_school-college-funding-finance-item" id="_topic_schools-colleges-childrens-services_school-college-funding-finance-suggested" name="suggested_topics"> School and college funding and finance
        </label>
      </li>
    </ul>

    <p><a href="#" class="btn btn-default" id="suggested-topics-select">Select these topics</a> or choose more from below.</p>
  </div> -->

  <div class="row">
    <div class="col-md-6" data-module="topic-search">
      <div class="panel panel-default tag-explorer" id="tag-explorer">
        <div class="panel-heading">Topics</div>
        <div class="panel-heading">
          <input class="form-control js-topic-filter" id="topic-search" placeholder="Search for topics">
        </div>

        <div class="tag-container list-group tag-explorer-topics-level-1">
          <% topics.each do |topic| %>
            <a href="#<%= topic['base_path'].gsub(/\//, "_") %>" class="list-group-item js-topic-parent" id="<%= topic['base_path'].gsub(/\//, "_") %>_parent">
              <span class="return-arrow glyphicon glyphicon-chevron-left add-right-margin"></span>
              <%= topic['title'] %> <span class="text-muted">(<%= topic['links']['children'].size %>)</span><span class="forward-arrow glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
          <% end %>

          <% topics.each do |topic| %>
            <div class="list-group tag-explorer-topics-level-2 js-hidden js-topic-parent-group" id="<%= topic['base_path'].gsub(/\//, "_") %>">
              <% topic['links']['children'].each do |subtopic| %>
              <% curated = subtopic['details']['groups'].any? %>
              <div class="js-topic-child list-group-item checkbox" id="<%= subtopic['base_path'].gsub(/\//, "_") %>-item" data-curated="<%= curated %>">
                <label>
                  <input type="checkbox" value="<%= subtopic['base_path'].gsub(/\//, "_") %>" name="selected_topics"> <span class="topic-child-title"><%= subtopic['title'] %></span>
                </label>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default tag-explorer" id="selected-topics">
        <div class="panel-heading">Selected topics</div>
        <div class="tag-container list-group selected-topics"></div>
      </div>
    </div>
  </div>

  <div class="preview-topics">
    <h3>Preview topics</h3>

    <p>Preview how your document will appear on the topic pages you've tagged to:</p>

    <ul class="preview-topics-list">

    </ul>
  </div>

  <div class="curated-topics notice bg-info">
    <p>The following topics are curated:</p>

    <ul class="curated-topics-list comma-separated-list">

    </ul>

    <p id="topic-curated-warning">Read the guidance on how to <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/creating-and-updating-pages#a-to-z-topic-pages-and-two-column-topic-pages">get content added to curated topics</a>.</p>
  </div>

</fieldset>
