<fieldset>
  <legend>Topics &amp; Subtopics</legend>

  <p>
    Tag this item if you want it to appear on a <a href="https://insidegovuk.blog.gov.uk/2015/03/16/taking-stock-of-gov-uks-information-architecture/">subtopic page</a>. Items tagged to a <a href="#">curated subtopic</a> will not appear automatically - tag, publish, then contact GDS to have this item added to a curated subtopic.
  </p>

  <div class="panel panel-default tag-explorer">
    <div class="panel-heading">Topics &amp; subtopics</div>

    <div class="tag-container">
      <div class="list-group tag-explorer-topics-level-1">
        <% topics.each do |topic| %>
        <a href="#<%= topic['base_path'].parameterize %>" class="list-group-item"><%= topic['title'] %></a>
        <% end %>
      </div>
    </div>

    <div class="tag-container">
      <% topics.each do |topic| %>
      <div class="list-group tag-explorer-topics-level-2 js-hidden" id="<%= topic['base_path'].parameterize %>">
        <% topic['links']['children'].each do |subtopic| %>
        <a href="<%= subtopic['base_path'].parameterize %>" class="list-group-item" id="<%= subtopic['base_path'].parameterize %>-item"><%= subtopic['title'] %></a>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <label for="chosen-subtopics">Selected topics &amp; subtopics</label>

  <select multiple="multiple" class="chzn-select form-control" data-placeholder="No subtopics currently chosen" name="edition[primary_specialist_sector_tag]" id="chosen-subtopics">
    <option value=""></option>
    <% topics.each do |topic| %>
    <optgroup label="<%= topic['title'] %>">
      <% topic['links']['children'].each do |subtopic| %>
      <option value="<%= subtopic['base_path'].parameterize %>"><%= topic['title'] %> &gt; <%= subtopic['title'] %></option>
      <% end %>
    </optgroup>
    <% end %>
  </select>

</fieldset>
