<fieldset>
  <legend>Topics</legend>

  <p>
    Tag this item if you want it to appear on a <a href="https://insidegovuk.blog.gov.uk/2015/03/16/taking-stock-of-gov-uks-information-architecture/">subtopic page</a>. Items tagged to a <a href="#">curated subtopic</a> will not appear automatically - tag, publish, then contact GDS to have this item added to a curated subtopic.
  </p>

  <div class="suggested-topics">
    <h3>Suggested topics</h3>

    <p>Your organisation usually tags to:</p>

    <ul class="suggested-topics-list">
      <li><a href="#_topic_schools-colleges-childrens-services_curriculum-qualifications-item">Curriculum and qualifications</a></li>
      <li><a href="#_topic_schools-colleges-childrens-services_early-years-item">Early years</a></li>
      <li><a href="#_topic_schools-colleges-childrens-services_school-college-funding-finance-item">School and college funding and finance</a></li>
    </ul>

    <p><a href="#" class="btn btn-default" id="suggested-topics-select">Select these topics</a> or choose more from below.</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default tag-explorer" id="tag-explorer">
        <div class="panel-heading">Topics</div>

        <div class="tag-container list-group tag-explorer-topics-level-1">
          <% topics.each do |topic| %>
          <a href="#<%= topic['base_path'].gsub(/\//, "_") %>" class="list-group-item" id="<%= topic['base_path'].gsub(/\//, "_") %>_parent"><span class="return-arrow">↩ </span><%= topic['title'] %></a>
          <% end %>

          <% topics.each do |topic| %>
          <div class="list-group tag-explorer-topics-level-2 js-hidden" id="<%= topic['base_path'].gsub(/\//, "_") %>">
            <% topic['links']['children'].each do |subtopic| %>
            <div class="list-group-item checkbox" id="<%= subtopic['base_path'].gsub(/\//, "_") %>-item">
              <label>
                <input type="checkbox" value="<%= subtopic['base_path'].gsub(/\//, "_") %>" name="selected_topics"> <%= subtopic['title'] %>
              </label>
            </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default tag-explorer" id="selected-topics">
        <div class="panel-heading">Selected topics</div>

        <div class="tag-container list-group selected-topics">

        </div>
      </div>
    </div>
  </div>



</fieldset>
